.hugeBlock {
    height: 2000px;
    width: 50%;
    display: flex;
    background-color: teal;
    flex-direction: column;
}

.hugeBlock > p {
    display: flex;
    height: 100%;
    background-color: aqua;
    justify-content: center;
    align-items: center;
}
